flow_funcionando_aperturaporta.json
[{"id":"5507a934.0da328","type":"tab","label":"Detectar matriculas","disabled":false,"info":""},{"id":"774990c9.dccc8","type":"plate-recognizer","z":"5507a934.0da328","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","url":"https://api.platerecognizer.com/v1/plate-reader/","ignoreDuring":false,"makeAndModel":false,"statusText":"none","cameraId":"","separateMsg":false,"regionFilter":false,"regionList":"[{\"code\" : \"de\"},{\"code\" : \"es\"}]","regionListType":"json","x":1140,"y":420,"wires":[["bd5a2ee8.88d9a","fccab91a.e47de8"],["cbe0ca09.81eb98"]]},{"id":"be30c35a.e7e4a","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":420,"wires":[["4da1b09e.4917b"]]},{"id":"bd5a2ee8.88d9a","type":"debug","z":"5507a934.0da328","name":"Saida recoñecemento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":420,"wires":[]},{"id":"4da1b09e.4917b","type":"http request","z":"5507a934.0da328","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://www.mercedes-benz.com/en/classic/history/h-number-plate-2020/_jcr_content/root/paragraph/paragraph-right/paragraphimage/image/MQ6-8-image-20191205151927/02-mercedes-benz-classic-h-number-plate-2020-2560x1440.jpeg","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":420,"wires":[["774990c9.dccc8"]]},{"id":"d41fe3f0.61dae","type":"image","z":"5507a934.0da328","name":"Mostrar imaxe analizada","width":"400","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1090,"y":60,"wires":[]},{"id":"ed97a84f.f74ad8","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"measurement","v":"acceso","vt":"msg"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ahora","x":1410,"y":660,"wires":[["20dda76f.118088"]]},{"id":"e7dafec0.74f05","type":"server-events","z":"5507a934.0da328","name":"movemento_camara2.0","server":"ef811120.f0447","event_type":"Detectouse_movemento_camara","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":200,"y":120,"wires":[[]]},{"id":"56bf3fc7.9131d","type":"file in","z":"5507a934.0da328","name":"Leer imaxe de home assistant","filename":"/config/www/captura.jpg","format":"","chunk":false,"sendError":false,"encoding":"binary","x":640,"y":100,"wires":[["1cb22f48.7e8eb1","d41fe3f0.61dae","774990c9.dccc8"]]},{"id":"1cb22f48.7e8eb1","type":"debug","z":"5507a934.0da328","name":"Captura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"59febc7a.39b804","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":40,"wires":[["2328f27.99c500e"]]},{"id":"cbe0ca09.81eb98","type":"debug","z":"5507a934.0da328","name":"Errores PlateRecognizer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":480,"wires":[]},{"id":"2328f27.99c500e","type":"delay","z":"5507a934.0da328","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":100,"wires":[["56bf3fc7.9131d"]]},{"id":"d79f3e4a.f8031","type":"function","z":"5507a934.0da328","name":"Proceso datos de PlateRecognize","func":"var debug=msg.payload; //leo o payload\ndebug.camera_id = 0;\nvar matriculas = debug.results;\nvar almacenar = {Marca:\"Alcatel\", Peso:\"5 onzas\", pantalla: \"5 pulgadas\", Color:\"Negro\"};\nvar errores = \"Non hai errores en Proceso datos de PlateRecognize\";\n\nfor (var matricula in matriculas) {\n     //outputMsgs.push({payload:words[w]});\n    if (matricula==\"test1\"){\n        \n    }\n   \n }\n \n\nreturn [debug,almacenar,errores]; //devolucion dos resultados","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":360,"wires":[["f523f430.17b928"],["ab90d495.a36318"],["820a4504.eb9078"]]},{"id":"f523f430.17b928","type":"debug","z":"5507a934.0da328","name":"Saida recoñecemento despois de procesar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1890,"y":320,"wires":[]},{"id":"ab90d495.a36318","type":"influxdb out","z":"5507a934.0da328","influxdb":"5f85ffe9.8dc8e","name":"Almacenar Acceso","measurement":"acceso","precision":"","retentionPolicy":"","database":"Accesos","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1870,"y":660,"wires":[]},{"id":"820a4504.eb9078","type":"debug","z":"5507a934.0da328","name":"Errores Procesar Datos PlateRecognizer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1880,"y":400,"wires":[]},{"id":"e49ec8c4.5db378","type":"mqtt out","z":"5507a934.0da328","name":"Abrir porta","topic":"nave/output/porta1","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3506cba.8562d","x":2250,"y":180,"wires":[]},{"id":"20dda76f.118088","type":"function","z":"5507a934.0da328","name":"Inxectar datos proba","func":"var data = new Date();\nvar acceso = data.getDate() + '-' + (data.getMonth()+1) + '-' + data.getFullYear();\n//msg.measurent = {'acceso','matricula'};\nmsg.payload = {\n    acceso: acceso,\n    matricula: 12,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":660,"wires":[["ab90d495.a36318"]]},{"id":"fccab91a.e47de8","type":"function","z":"5507a934.0da328","name":"Comprobar matricula","func":"var debug=msg.payload; //leo o payload\ndebug.camera_id = 0;\nvar matriculaRecoñecida = msg.payload.results[0].plate;\nvar matriculas = [\"s0k92h\"]\nvar almacenar = {Marca:\"Alcatel\", Peso:\"5 onzas\", pantalla: \"5 pulgadas\", Color:\"Negro\"};\nvar error = \"Non hai matriculas coincidentes rexistradas.\";\n\nfor (var matricula in matriculas) {\n     //outputMsgs.push({payload:words[w]});\n    if (matricula==matriculaRecoñecida){\n        msg.payload.resultado = 1;\n    }else{\n        msg.payload.resultado = 0;\n    }\n   \n }\n \n\nreturn [msg,msg]; //devolucion dos resultados","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":200,"wires":[["e49ec8c4.5db378","8e49f27e.2d18"],["36b64f1e.4a591"]]},{"id":"36b64f1e.4a591","type":"debug","z":"5507a934.0da328","name":"Matricula non recoñecida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1930,"y":240,"wires":[]},{"id":"8e49f27e.2d18","type":"debug","z":"5507a934.0da328","name":"Saida comprobar matricula","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2010,"y":100,"wires":[]},{"id":"6d30a3cf.a4090c","type":"inject","z":"5507a934.0da328","name":"inxectar matricula proba","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"matricula\" :  \"1111\"}","payloadType":"jsonata","x":1220,"y":120,"wires":[["482d3049.7ad69"]]},{"id":"34e4b1b8.61c75e","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1780,"y":60,"wires":[["e49ec8c4.5db378"]]},{"id":"d3cd694e.c06fa8","type":"switch","z":"5507a934.0da328","name":"Comprobar apertura porta","property":"payload.apertura","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":true,"outputs":1,"x":1730,"y":120,"wires":[["e49ec8c4.5db378","4c1afa24.8aa524"]]},{"id":"4c1afa24.8aa524","type":"debug","z":"5507a934.0da328","name":"Saida para comprobar apertura2.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1640,"y":20,"wires":[]},{"id":"482d3049.7ad69","type":"function","z":"5507a934.0da328","name":"Comprobar matricula 2.0","func":"var debug=msg.payload; //leo o payload\nvar error = \"proba\";\nmsg.payload.apertura = 1;\nreturn msg; //devolucion dos resultados","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":120,"wires":[["d3cd694e.c06fa8"]]},{"id":"ef811120.f0447","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5f85ffe9.8dc8e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"HomeAssistant InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"e3506cba.8562d","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]