flows.json
[{"id":"5507a934.0da328","type":"tab","label":"Detectar matriculas","disabled":false,"info":""},{"id":"774990c9.dccc8","type":"plate-recognizer","z":"5507a934.0da328","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","url":"https://api.platerecognizer.com/v1/plate-reader/","ignoreDuring":false,"makeAndModel":false,"statusText":"none","cameraId":"","separateMsg":false,"regionFilter":false,"regionList":"[{\"code\" : \"de\"},{\"code\" : \"es\"}]","regionListType":"json","x":1140,"y":420,"wires":[["bd5a2ee8.88d9a","d79f3e4a.f8031"],["cbe0ca09.81eb98"]]},{"id":"be30c35a.e7e4a","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":340,"wires":[["4da1b09e.4917b"]]},{"id":"bd5a2ee8.88d9a","type":"debug","z":"5507a934.0da328","name":"Saida recoñecemento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1420,"y":420,"wires":[]},{"id":"4da1b09e.4917b","type":"http request","z":"5507a934.0da328","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://www.mercedes-benz.com/en/classic/history/h-number-plate-2020/_jcr_content/root/paragraph/paragraph-right/paragraphimage/image/MQ6-8-image-20191205151927/02-mercedes-benz-classic-h-number-plate-2020-2560x1440.jpeg","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":380,"wires":[["850115f5.629998"]]},{"id":"d41fe3f0.61dae","type":"image","z":"5507a934.0da328","name":"Mostrar imaxe analizada","width":"400","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1090,"y":60,"wires":[]},{"id":"ed97a84f.f74ad8","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":220,"wires":[[]]},{"id":"e7dafec0.74f05","type":"server-events","z":"5507a934.0da328","name":"movemento_camara2.0","server":"ef811120.f0447","event_type":"Detectouse_movemento_camara","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"x":200,"y":120,"wires":[["2328f27.99c500e"]]},{"id":"56bf3fc7.9131d","type":"file in","z":"5507a934.0da328","name":"Leer imaxe de home assistant","filename":"/config/www/captura.jpg","format":"","chunk":false,"sendError":false,"encoding":"binary","x":640,"y":100,"wires":[["1cb22f48.7e8eb1","d41fe3f0.61dae","774990c9.dccc8"]]},{"id":"1cb22f48.7e8eb1","type":"debug","z":"5507a934.0da328","name":"Captura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"59febc7a.39b804","type":"inject","z":"5507a934.0da328","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":40,"wires":[["2328f27.99c500e"]]},{"id":"850115f5.629998","type":"debug","z":"5507a934.0da328","name":"Resultado peticion request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":840,"y":480,"wires":[]},{"id":"cbe0ca09.81eb98","type":"debug","z":"5507a934.0da328","name":"Errores PlateRecognizer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":480,"wires":[]},{"id":"2328f27.99c500e","type":"delay","z":"5507a934.0da328","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":100,"wires":[["56bf3fc7.9131d"]]},{"id":"d79f3e4a.f8031","type":"function","z":"5507a934.0da328","name":"Proceso datos de PlateRecognize","func":"var payload=msg.payload; //leo o payload\npayload.camera_id = 0;\nvar matriculas = payload.results;\n\n\nfor (var matricula in matriculas) {\n     //outputMsgs.push({payload:words[w]});\n    if (matricula==\"test1\"){\n        \n    }\n   \n }\n \n\nreturn payload; //devolucion dos resultados","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":360,"wires":[["f523f430.17b928"]]},{"id":"f523f430.17b928","type":"debug","z":"5507a934.0da328","name":"Saida recoñecemento despois de procesar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1810,"y":360,"wires":[]},{"id":"ef811120.f0447","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]